<div class="nothing d-flex flex-column justify-content-center w-100 h-100">
  <div  class="containerbox d-flex justify-content-center align-items-center text-white mx-4">
    <div>
      <h1>
        <span class="mx-1">Happy</span>
        <span class="mx-1">Birthday</span>
        <span class="mx-1">Dharshini!</span>
        <span class="mx-1">We</span>
        <span class="mx-1">just</span>
        <span class="mx-1">met</span>
        <span class="mx-1">a</span>
        <span class="mx-1">few</span>
        <span class="mx-1">days</span>
        <span class="mx-1">ago,</span>
        <span class="mx-1">yet</span>
        <span class="mx-1">you’ve</span>
        <span class="mx-1">grown</span>
        <span class="mx-1">really</span>
        <span class="mx-1">close</span>
        <span class="mx-1">to</span>
        <span class="mx-1">me.</span>
        <span class="mx-1">I</span>
        <span class="mx-1">hope</span>
        <span class="mx-1">you’ll</span>
        <span class="mx-1">make</span>
        <span class="mx-1">more</span>
        <span class="mx-1">lovely</span>
        <span class="mx-1">memories</span>
        <span class="mx-1">this</span>
        <span class="mx-1">year.</span>
        <span class="mx-1">Have</span>
        <span class="mx-1">a</span>
        <span class="mx-1">Lovely</span>
        <span class="mx-1">year,</span>
        <span class="mx-1">Dharshini!</span>
        <span class="mx-1">❤</span>
      </h1>
      <h1 class="d-flex justify-content-end">
        <span class="my_name mx-1">-Bhaveshraj</span>
      </h1>
    </div>
  </div>
  <div class="d-flex justify-content-center text-white mb-2">
    <h6 class="end-credit">
      This website is made only for you
    </h6>
  </div>
</div>
